<!-- Index Comments -->
<%- include('../partials/head.ejs') %>

<div class="columns is-multiline is-mobile is-justify-content-center">
    <div class="column is-3">
        <h1>No such comment found!</h1>
        <a href="/comments">Back</a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>